#main-doc{
    
    margin-left: 150px;
}

#navbar { 
    padding-top:20px;
    
    position: fixed; 
    top: 0px; 
    left: 0px; 
    width: 300px; 
    height: 100%; 
    border: 1px solid white; 
    overflow-y: scroll; 
} 


.SecondContainer{
    margin-left: 200px;

}

.nav-link{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    color: black;
}

ul{
    list-style-type: none;
    padding-left:0px;
}
nav li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-top: 1px solid black;
    position: relative; 
    width: 100%;
}
a{
    text-decoration: none;
}
code{
    padding:5px;
    background-color: rgb(238, 224, 224);
}

header{
    font-size: 15px;
    font-weight: bold;
}
.first-header{
    padding-left:12px 12px 12px 12px;
}